---
layout: layout
---

<div class="content">    
    <div class="row-fluid">	
        <div class="span12">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    
    <div class="row-fluid">	
        <div class="span12">
            {{ content }}
        </div>
    </div>
    
    <div class="row-fluid">	
        <div class="span12 column">
              <i class="icon-calendar"></i> {{ page.date | date: "%B %e, %Y" }}
              <br />
              <i class="icon-tags"></i> Tags :{% for tag in page.tags %} <a href="/tags/{{ tag }}" rel="tooltip" title="View pages tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}
              <br />
              <br />
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.author.twitter }}">Tweet</a>
              <g:plusone size="medium"></g:plusone>
              <br/>
              <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-send="false" data-width="450"
                  data-show-faces="true" data-font="arial"></div>
              <div id="fb-root"></div>
              <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=435923866464427";
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>
        </div>
    </div>

    {% if page.comments %}
    <div class="row-fluid">	
        <div class="span12 columns">    
            <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="650" data-num-posts="10"></div>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=435923866464427";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        </div>
    </div>
    {% endif %}
    
    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <!-- Google + -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
</div>
    
